@use "@/assets/styles/variables.scss" as *;

.help-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-family: $font-family-primary;
  font-size: clamp(24px, 4vw, 48px);
  color: $color-text-white;
  letter-spacing: $letter-spacing-normal;
  text-align: center;
  white-space: nowrap;
  font-weight: $font-weight-medium;
}

@media (max-width: 768px) {
  .help-text {
    top: 20%;
    font-size: clamp(14px, 4vw, 20px);
  }
}
